body {
    background: rgb(48, 48, 48);
}

.page-item.disabled .page-link {
    color: rgb(48, 48, 48);
    background-color:rgb(0, 255, 255);
    border: 1px solid rgb(0, 255, 255);
}

.page-item.active .page-link {
    color: rgb(48, 48, 48);
    background-color: rgb(0, 255, 255);
    border-color: rgb(0, 255, 255);
}

.page-link {
    color: white;
    background-color:rgb(48, 48, 48);
    border: 1px solid rgb(0, 255, 255);
}

.page-link:hover {
    color: rgb(48, 48, 48);
    background-color:rgb(0, 255, 255);
    border: 1px solid rgb(0, 255, 255);
}